

.home{
    background-color:#301934 ;
    height: 00%;
    padding: 50px;
}

 img{
     margin-top: 150px;
     margin-left: 50px;
   width: 400px;
   height: 350px;
    border-radius: 10px;
    
}

.home__content{
   margin-top: 150px;
    margin-left: 60px;
    padding: 50px 0px;
    width: 100%;
    
}
h1.home__text{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 3px;
    color: rgba(195, 195, 226, 0.75)!important;
}
h2.home__text{
    font-size: 54px;
    line-height: 54px;
    font-weight: 100;
    font-family:cursive;
}
h3.home__text{
    font-size: 34px;
    font-weight: 200;
    font-family:monospace;
  
    line-height: 50px;
  
}



